:root {
  --light: #fafafa;
  --white: #fff;
  --dark: #222;
  --black: #000;
  --blue: #00b7ff;
  --primary: #25ccf7;
  --secondary: #2f3542;
  --tertiary: #57606f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--light);
}

main {
  animation: fade-start 300ms ease-in-out;
  margin-bottom: 100px;
}

@keyframes fade-start {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.animate-fade {
  animation: fade-end 1000ms ease-in-out;
}

@keyframes fade-end {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

a {
  color: var(--primary);
}

nav {
  background-color: var(--secondary);
}

.img-logo:hover {
  animation: rotate 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@keyframes rotate {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.picture-label {
  position: absolute;
  bottom: 10px;
  right: 10px;
}