<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./components/head') %>
    <link rel="stylesheet" href="public/stylesheets/about.css" />
  </head>
  <body>
    <header><%- include('./components/header') %></header>

    <main class="container">
      <div class="d-flex justify-content-start">
        <h1 class="display-5 mb-5">Sobre Nós</h1>
      </div>
      <div
        class="
          d-flex
          justify-content-center
          align-items-center
          gap-5
          border
          rounded
          pe-5
        "
      >
        <img
          src="/public/images/travel.jpeg"
          width="250"
          alt="logo"
          class="rounded-left border border-2 border-warning"
        />
        <div>
          <h4>Nossa cultura</h4>
          <p>
            Nós acreditamos que sonhos podem se tornar realidade. Por isso nós
            estamos a mais de <strong>30 anos</strong> no mercado de venda de
            automóveis <strong>novos e seminovos</strong>. Nossos clientes
            compartilham sua felicidade conosco, e isso nos move. Por isso dê
            valor ao seu carro, não pelo quanto ele vale, mas pelo o que ele
            significa para você.
          </p>
        </div>
        <div>
          <h4>Nossos valores</h4>
          <p>
            Nossos clientes são nosso bem mais precioso. E por conta disso, nós
            já atendemos mais de <strong>50.000</strong> clientes em todo o
            Brasil. Podemos dizer que nossos clientes são nossos melhores
            amigos, e fazemos de tudo para essa amizade ser duradoura.
          </p>
        </div>
      </div>
    </main>

    <footer class="bg-light fixed-bottom">
      <%- include('./components/footer') %>
    </footer>
  </body>
</html>
