<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./components/head') %>
  </head>
  <body>
    <header><%- include('./components/header') %></header>

    <main class="container">
      <div class="jumbotron">
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
      </div>
    </main>

    <footer class="fixed-bottom"><%- include('./components/footer') %></footer>
  </body>
</html>
