<!DOCTYPE html>
<html>
  <head>
    <title><%= data[0].brand %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= data[0].brand %></h1>
    <p>Welcome to <%= data[0].brand %></p>
  </body>
</html>
