<nav
  class="
    navbar navbar-expand-lg
    justify-content-between
    navbar-dark
    px-5
    py-3
    mb-5
    shadow
  "
>
  <a class="navbar-brand" href="/">Nosso Logo Topzão</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">Sobre nós</a>
    </li>
  </ul>
</nav>
